.jumbotron {
    background-image: url("../assets/hero.jpg");
    background-size: cover;
    color: white;
    height: 80vh;
}

.jumbotron>.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(255, 132, 230, 0.85);
    z-index: 1;
}

.jumbotron>.container {
    position: relative;
    z-index: 2;
}

.login-help {
    margin: 20px 0;
    font-size: 15px;
    color: black;
    text-align: center;
    text-shadow: 0 1px #2a85a1;
}

.login-help a {
    color: blue;
    text-decoration: none;
    font-size: 15px;
}

.login-help a:hover {
    text-decoration: underline;
}