.wrapper  {
    min-height: 100vh;
}

.um-account-head {
    height: 30vh;
    background-color: rgba(68, 198, 176, 0.1);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

.um-account-head .profile {
    margin-bottom: -4rem;
}

.um-account-head .profile span {
    background-color: white;
    border-radius: 50rem;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
    font-size: 8rem;
}

.um-account-body {
    margin-top: 4rem;
}

.um-account-body .um-h2 {
    text-align: center;
}

.um-account-body #signUpForm {
    margin: 2rem auto;
    padding-bottom: 3rem;
    width: 40%;
}

.um-account-body .um-input {
    display: block;
    width: 100%;
}

.um-account-body .form-group{
    margin-bottom: 0.5rem;
}

.um-account-body button {
    margin-top: 2rem;
}

/* Responsive */
@media screen and (max-width: 991px) {
    .um-account-body #signUpForm {
        width: 60%;
    }
}

@media screen and (max-width: 434px) {
    .um-account-body #signUpForm {
        width: 80%;
    }
}